# object files
c63enc
c63dec
c63pred
*.o

# make files
.*.d
fc.txt

# data files
*.yuv
*.c63

# we don't want to include a second copy of the codec
# reference codec can be found at https://bitbucket.org/mpg_code/in5050-codec63/src
reference_codec63

